# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go files
[*.go]
indent_style = tab
indent_size = 4
max_line_length = 120

# Markdown files
[*.md]
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JavaScript/TypeScript files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# TOML files
[*.{toml}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = tab

# HTML/CSS files
[*.{html,css,scss}]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab
